{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    {% bootstrap_css %}
  </head>
  <body>
    <header>
      {% include "navbar.html" %}
    </header>
    <main>
      {% if messages %}
        {% bootstrap_messages %}
      {% endif %}
      {% block content %}
      {% endblock content %}
    </main>
    {% bootstrap_javascript %}
  </body>
</html>
